
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <!-- Custom StyleSheet -->
    <link rel="stylesheet" href="../../public/css/home.css">
    <title>Cart</title>
  </head>

  <body>

    <!-- Navigation -->
    <nav class="nav nav-cart">
      <div class="wrapper container">
        <a href=""><img class="brand-logo-cart" src="../../public/img/logo.png" alt="logo"></a>
        <ul class="nav-list">
          <div class="top">
            <label for="" class="btn close-btn"
              ><i class="fas fa-times"></i
            ></label>
          </div>
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/dashboard">Products</a></li>
          <li>
            <a href="" class="desktop-item"
              >Shop <span><i class="fas fa-chevron-down"></i></span
            ></a>
            <input type="checkbox" id="showMega" />
            <label for="showMega" class="mobile-item"
              >Shop <span><i class="fas fa-chevron-down"></i></span
            ></label>
            <div class="mega-box">
              <div class="content">
                <div class="row">
                  <img src="../../public/img/woman.jpg" alt="" />
                </div>
                <div class="row">
                  <header>Shop Layout</header>
                  <ul class="mega-links">
                    <li><a href="#">Shop With Background</a></li>
                    <li><a href="#">Shop Mini Categories</a></li>
                    <li><a href="#">Shop Only Categories</a></li>
                    <li><a href="#">Shop Icon Categories</a></li>
                  </ul>
                </div>
                <div class="row">
                  <header>Filter Layout</header>
                  <ul class="mega-links">
                    <li><a href="#">Sidebar</a></li>
                    <li><a href="#">Filter Default</a></li>
                    <li><a href="#">Filter Drawer</a></li>
                    <li><a href="#">Filter Dropdown</a></li>
                  </ul>
                </div>
                <div class="row">
                  <header>Product Layout</header>
                  <ul class="mega-links">
                    <li><a href="#">Layout Zoom</a></li>
                    <li><a href="#">Layout Sticky</a></li>
                    <li><a href="#">Layout Sticky 2</a></li>
                    <li><a href="#">Layout Scroll</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li><a href="">Blog</a></li>
          <li>
            <a href="" class="desktop-item"
              >Vendors <span><i class="fas fa-chevron-down"></i></span
            ></a>
            <input type="checkbox" id="showdrop1" />
            <label for="showdrop1" class="mobile-item"
              >Vendors <span><i class="fas fa-chevron-down"></i></span
            ></label>
            <ul class="drop-menu1">
              <li><a href="">Vendor Store listings</a></li>
              <li><a href="">Store Details</a></li>
            </ul>
          </li>

          <li>
            <a href="" class="desktop-item"
              >Page <span><i class="fas fa-chevron-down"></i></span
            ></a>
            <input type="checkbox" id="showdrop2" />
            <label for="showdrop2" class="mobile-item"
              >Page <span><i class="fas fa-chevron-down"></i></span
            ></label>
            <ul class="drop-menu2">
              <li><a href="">About</a></li>
              <li><a href="">Contact</a></li>
              <li><a href="">Faq</a></li>
              <li><a href="">Page 404</a></li>
            </ul>
          </li>
          <!-- icons -->
          <li class="icons " >
            <span>
                <img src="../../public/img/shoppingBag.svg" alt="" />
                <%if(products.length > 0){%>
                <small class="count d-flex"><%= products.length%></small>
                <%}else{%>
                <small class="count d-flex">0</small>
                <%}%>
            </span>
            <span> 
              <form action="/search"> 
                <input class="searchBox search-input  " type="text"
                    placeholder=" Search ..."
                    name="search" />
                    <button class="searchBox search-button btn-cart"> 
                      <i class="fa fa-search "
                          style="font-size: 18px;"> 
                      </i> 
                  </button>
              </form>
            </span>
          </li>
        </ul>
        <label for="" class="btn open-btn"><i class="fas fa-bars"></i></label>
      </div>
    </nav>

    <!-- Cart Items -->
    <div class="container cart">
      <%if(products.length > 0){%>
      <table>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Subtotal</th>
        </tr>
        <%products.forEach(function(product){%>
        <tr>
          <td>
            <div class="cart-info">
              <img src="<%= product.image %>" alt="" />
              <div>
                <p><%= product.itemname %></p>
                <br />
                <form action="/cart/shopping-cart/remove/<%=currentUser._id%>/<%=product.item%>" method="POST">
                  <button class="btn-remove">Remove</button>
                </form>
              </div>
            </div>
          </td>
          <td>             
            <form class="button-minus" action="/cart/shopping-cart/minus/<%=currentUser._id%>/<%=product.item%>" method="POST">
              <button class="btnn btnn-minus" >- </button>
            </form>
            <%= product.quantity %>
            <form class="button-minus" action="/cart/shopping-cart/plus/<%=currentUser._id%>/<%=product.item%>" method="POST">
              <button class="btnn"> +</button>
            </form> 
          </td>
          <td>Rs <%= product.price %></td>
        </tr>
        <%})%>
      </table>

      <div class="total-price" style="float: right;">
        <table>
          <tr>
            <td>Total</td>
            <td>Rs <%= totalPrice %></td>
          </tr>
        </table>
        <a href="#" class="check-btn checkout btn">Checkout</a>
      </div>
    </div>
    <%}else{%>
      <div class="shadow-none p-3 mb-5 bg-light rounded jumbotron">
          <h1 class="display-4">Your Cart is empty.</h1>
          <p class="lead">Your shopping cart is waiting. Give it purpose – fill it with clothing, electronics and more.</p>
      </div>
    <%}%>

    <%- include("../partials/allfooter.ejs") %>