

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/3bb9d2c9bc.js" crossorigin="anonymous"></script>
  <!-- Glidejs -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.core.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.theme.css">

  <!-- Custom StyleSheet -->
  <link rel="stylesheet" href="../../public/css/home.css" />
  <link rel="stylesheet" href="../../public/css/account.css" />
  
  

</head>

<body>

  <%- include("../partials/nav.ejs") %>
  <section class="section promotion">
      <div class="history-page">
      <h1 class="history-page__title">User Account</h1>
      <hr class="hrr" />

<%users.forEach(function(user){%>
<div class="wrapper-account">
    <div class="left">
        <img src="../../public/img/man-2-512.png" alt="user" width="100">
        <h4><%=user.firstname%> <%=user.lastname%></h4>
        <a>Update</a>

    </div>
    <div class="right">
        <div class="info">
            <h3 class="color-w" >Information</h3>
            <div class="info_data">
                 <div class="data">
                    <h4 class="color-w" >Email</h4>
                    <p><%=user.email%></p>
                 </div>
              
                 <div class="data">
                   <h4 class="color-w" >Phone</h4>
                   <% user.phone.forEach(function(phone){%>
                    <p><%=phone%></p>
                   <%})%>
              </div>
            </div>
        </div>
      
      <div class="projects">
            <h3 class="color-w" >Address</h3>

              <% for(var i=0;i<user.address.length;i++){%>
                <div class="projects_data">
                 <div class="data">
                    <h4 class="color-w" >Address</h4>
                    <p><%=user.address[i].line%>.</p>
                 </div>
                 <div class="data">
                   <h4 class="color-w" >Country</h4>
                    <p><%=user.address[i].country%></p>
              </div>
            </div>
            <div class="projects_data">
                    <div class="data">
                        <h4 class="color-w" >City</h4>
                        <p><%=user.address[i].city%></p>
                    </div>
                    <div class="data">
                      <h4 class="color-w" >Postal Code</h4>
                        <p><%=user.address[i].postal%></p>
                  </div>
                </div>
                <%}%>
        </div>
      
      <div class="payment">
            <h3 class="color-w" >Payment</h3>
            <div class="payment_data">
              <% for(var i=0;i<user.cards.length;i++){%>
                 <div class="data">
                    <h4 class="color-w" >Card <%=i+1%></h4>
                    <p><%=user.cards[i].cardno%></p>
                 </div>
              <%}%>
            </div>

        </div>
</div>
</div>
<%})%>


      


  </section>
  <%- include("../partials/allfooter.ejs") %>









  
