

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/3bb9d2c9bc.js" crossorigin="anonymous"></script>
  <!-- Glidejs -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.core.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.theme.css">

  <!-- Custom StyleSheet -->
  <link rel="stylesheet" href="../../public/css/home.css" />
  <link rel="stylesheet" href="../../public/css/account.css" />
  
  
</head>

<body>

  <%- include("../partials/nav.ejs") %>

  <%users.forEach(function(user){%>
  <form action="/profile/update" method="POST">
    <section class="section promotion">
      <div class="history-page">
      <h1 class="history-page__title">User Account</h1>
      <hr class="hrr" />
      
      <article class="cssui-usercard">
        <div class="cssui-usercard__body">
          <header class="cssui-usercard__header">
            <img src="../../public/img/icon.png" class="cssui-usercard__avatar" alt="Avatar">
            <div class="cssui-usercard__header-info">
              <h3 class="cssui-usercard__name"><%-user.firstname%> <span class="cssui-usercard__name-label"><%-user.lastname%></span></h3>
              
            </div>
          </header>
          <div class="cssui-usercard__content">
            <div class="cssui-slider">
    
              <!-- the control elements of slider -->
    
              <input id="slide1" type="radio" class="cssui-slider__switch cssui-usercard__switch" name="slider-controls" checked autofocus>
              <label for="slide1" class="cssui-slider__control cssui-usercard__control"></label>
              <input id="slide2" type="radio" class="cssui-slider__switch cssui-usercard__switch" name="slider-controls">
              <label for="slide2" class="cssui-slider__control cssui-usercard__control"></label>
              <input id="slide3" type="radio" class="cssui-slider__switch cssui-usercard__switch" name="slider-controls">
              <label for="slide3" class="cssui-slider__control cssui-usercard__control"></label>
    
              <div class="cssui-slider__slides">
    
                <!-- first slide -->
    
                <div class="cssui-slider__slide">
                  <h4 class="cssui-usercard__title">Information</h4>
                  <div class="cssui-usercard__stats">
                    <div class="cssui-stats cssui-usercard__stats-item">
                      <div class="cssui-stats__info cssui-usercard__stats-info">
                        <span class="cssui-stats__name cssui-usercard__stats-name">First Name</span>
                        <span class="cssui-stats__value"><input  class="account-input" type="text" name="firstname" value="<%-user.firstname%>"/></span>
                      </div>
                    </div>
                    <div class="cssui-stats cssui-usercard__stats-item">
                      <div class="cssui-stats__info cssui-usercard__stats-info">
                        <span class="cssui-stats__name cssui-usercard__stats-name">Last Name</span>
                        <span class="cssui-stats__value"><input  class="account-input" type="text" name="lastname" value="<%-user.lastname%>"/></span>
                      </div>
                    </div>

                    <div class="cssui-stats cssui-usercard__stats-item">
                      <div class="cssui-stats__info cssui-usercard__stats-info">
                        <span class="cssui-stats__name cssui-usercard__stats-name">E-mail</span>
                        <span class="cssui-stats__value"><textarea  class="account-input-textarea" rows="4" cols="17"  name="email" ><%-user.email%></textarea></span>
                      </div>
                      
                    </div>
                    <div class="cssui-stats cssui-usercard__stats-item">
                      <div class="cssui-stats__info cssui-usercard__stats-info">
                        <span class="cssui-stats__name cssui-usercard__stats-name">Phone Number</span>
                        <span class="cssui-stats__value"><input  class="account-input" type="text" name="phone" value="<%-user.phone%>"/></span>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- second slide -->
                <div class="cssui-slider__slide">
                  <h4 class="cssui-usercard__title">Address</h4>
                  <div class="cssui-usercard__stats">
                    <div class="cssui-stats cssui-usercard__stats-item">
                      <div class="cssui-stats__info cssui-usercard__stats-info">
                        <span class="cssui-stats__name cssui-usercard__stats-name">Country</span>
                        <span class="cssui-stats__value"><input  class="account-input" type="text" name="country" value="<%-user.address.country%>"/></span>
                      </div>
                    </div>
                    <div class="cssui-stats cssui-usercard__stats-item">
                      <div class="cssui-stats__info cssui-usercard__stats-info">
                        <span class="cssui-stats__name cssui-usercard__stats-name">City</span>
                        <span class="cssui-stats__value"><input  class="account-input" type="text" name="city" value="<%-user.address.city%>"/></span>
                      </div>
                    </div>
                    <div class="cssui-stats cssui-usercard__stats-item">
                      <div class="cssui-stats__info cssui-usercard__stats-info">
                        <span class="cssui-stats__name cssui-usercard__stats-name">Address Line</span>
                        <span class="cssui-stats__value"><textarea  class="account-input-textarea" rows="4" cols="17"  name="line" ><%-user.address.line%></textarea></span>
                      </div>
                    </div>
                    <div class="cssui-stats cssui-usercard__stats-item">
                      <div class="cssui-stats__info cssui-usercard__stats-info">
                        <span class="cssui-stats__name cssui-usercard__stats-name">Postal Code</span>
                        <span class="cssui-stats__value"><input  class="account-input" type="text" name="postal" value="<%-user.address.postal%>"/></span>
                      </div>
                    </div>
                  </div>
                </div>
    
                <!-- third slide -->
    
                <div class="cssui-slider__slide">
                  <h4 class="cssui-usercard__title">Payment Options</h4>
                  <div class="cssui-usercard__stats">
                    <%if(user.cards.length > 0){%>
                    <%for(var i=0;i<user.cards.length;i++){%>
                    <div class="cssui-stats cssui-usercard__stats-item">
                      <div class="cssui-stats__info cssui-usercard__stats-info">
                        <span class="cssui-stats__name cssui-usercard__stats-name">Card- <%= i+1%></span>
                        <span class="cssui-stats__value"><input  class="account-input" type="text" value="<%= user.cards[i].cardno%>"/></span>
                      </div>
                    </div>
                    <%}}else{%>
                      <div class="cssui-stats cssui-usercard__stats-item">
                        <div class="cssui-stats__info cssui-usercard__stats-info">
                          <span class="cssui-stats__name cssui-usercard__stats-name">Card 1</span>
                          <span class="cssui-stats__value"><input  class="account-input" type="text" value=""/></span>
                        </div>
                      </div>
                    <%}%>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="cssui-usercard__footer">
          <button class="update-button" >Update</button>
        </footer>
      </article>   
  </section>
  </form>
  <%})%>

  <%- include("../partials/allfooter.ejs") %>










